:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #353430;
  --menu-color: #353430;
  --button-hover-accent-color: #32312d66;
  --focus-color: #ffc2e6;
  --focus-shadow-color: #ff8dcb;
  --header-title-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --title-bg-color: #ff8dcb;
  --text-color: #353430;
  --link-shadow-color: #ff8dcb;
  --display-lamp: none;
}

.theme-light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #353430;
  --menu-color: #353430;
  --button-hover-accent-color: #32312d66;
  --focus-color: #ffc2e6;
  --focus-shadow-color: #ff8dcb;
  --header-title-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --title-bg-color: #ff8dcb;
  --text-color: #353430;
  --link-shadow-color: #ff8dcb;
  --display-lamp: none;
  }

  .lamp {
    display: none;
  }
}
